@using DataAccessLayer
@model IEnumerable<Element>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Create New", "Create", "Element")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>
    @foreach(Element E in Model)
    {
        <tr>
            <td>@E.Name</td>
        </tr>
    }
</table>
